<div class="col-12 px-0">
  <a href="<%=@articlesTop[2]["url"]%>" target="_blank" class="text-white">
    <div class="secondArticle d-flex flex-wrap align-content-between" style="background-image: url('<%=@articlesTop[2]["urlToImage"]%>'); background-size: cover; background-position: center;">
      <div class="w-100">
        <h4 class="h4"> <span class="badge badge-danger  sourcePosition text-white"><%=@articlesTop[2]["source"]%></span></h4>
      </div>
      <div class="colorGrad w-100">
        <h4 class="h5 text-white ml-2"><%=@articlesTop[2]["title"]%></h4>
        <h5 class="h6 text-white font-weight-bold ml-2"><%=@articlesTop[2]["author"]["first"]%><%=@articlesTop[2]["author"]["last"]%></h6>
      </div>
    </div>
  </a>
</div>

