<%@articlesPagination.each do |element| %>
  <div class="col-12 col-md-4 mx-0 my-1 px-2">
    <a href="<%=element["url"]%>" target="_blank" class="text-dark">
      <div class="thirdArticle d-flex flex-wrap align-content-between" style="background-image: url('<%=element["urlToImage"]%>'); background-size: cover;">
        <div class="w-100">
          <h4 class="h5"> <span class="badge badge-danger  sourcePosition text-white"><%=element["source"]%></span></h4>
        </div>
        <div class="colorGrad w-100">
          <span class="h6 text-white ml-2"><%=element["title"]%></span>
          <span class="h6 text-white font-weight-bold ml-2"><%=element["author"]["first"]%> <%=element["author"]["last"]%></span>
        </div>
      </div>
    </a>
  </div>
<%end%>