


<div class="newsContainer mx-1 mx-md-5 bg-lightgrey p-md-4 p-0 py-1 mt-2 rounded">
  <div class="container-fluid my-3 mx-0 mx-auto">
    <div class="row d-flex justify-content-center">
      <%= render partial:'displayTop' %>

      <div class="col-12 mt-2 mt-md-0 col-md-4">

        <div class="row">

          <%= render partial:'displayMedium1' %>

          <div class="col-12 mt-2 mt-md-0">

            <%= render partial:'displayMedium2' %>
          </div>
     
        </div>
      </div>
    </div>
  </div>
</div>

<div class="newsContainer mx-1 mx-md-5 bg-lightgrey p-md-4 my-md-4 mt-3 p-2 rounded">
  <div class="container-fluid px-0  mb-3">
    <h3 class="h3 font-weight-bold border-darker pb-2">Lates News</h3>
  </div>

  <div class="container mx-0 mx-auto px-2">
    <div class="row d-flex justify-content-around">
      <%= render partial:'displayCard' %>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <%= render partial:'pagination' %>
      </ul>
    </nav>
  </div>
  
</div>






