<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <i class="far fa-newspaper fa-2x"></i>
    <span class="title h2">Today's News</span> 
  </a>
</nav>

<div class="container-fluid my-4">
  <div class="row d-flex justify-content-center">
     <%@articlesPagination.each do |element| %>
    <div class="card m-2" style="width: 18rem;">
      <a href="<%=element["url"]%>" target="_blank" class="text-dark">
      <img class="card-img-top" src="<%=element["urlToImage"]%>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%=element["title"]%></h5>
        <p class="card-text"><%=element["source"]%></p>
      </a>
      </div>
    </div>
  <%end%>
  </div>
 
</div>


<div class="d-flex justify-content-center mt-4">
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <%if (@currentpage > 1)%>
      <li class="page-item"><a class="page-link" href="?page=<%=(@currentpage-1)%>">Previous</a></li>
    <%end%>

    
    <%@totalPages.times do |i|%>
    <li class="page-item"><a class="page-link" href="?page=<%=i+1%>"><%=i+1%></a></li>
    <%end%>

    <%if (@currentpage < @totalPages)%>
      <li class="page-item"><a class="page-link" href="?page=<%=(@currentpage+1)%>">Next</a></li>
    <%end%>
    
  </ul>
</nav>
</div>



